@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-primary: #22C55E;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white font-body overflow-hidden;
  }
}
